
<h1>Update meaning: <%= @definition.meaning %></h1>

<form action="/words/<%= @word.id %>/definitions/<%= @definition.definition_id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div>
    <label for="name">Rename definition</label>
    <input id="name" name="name" type="text" required>
  </div>
  <button type="submit">Rename definition</button>
</form>

<form action="/words/<%= @word.id %>/definitions/<%= @definition.definition_id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Definition</button> 
</form>

<p><a href="/words/<%= @word.id %>">Return to Words List</a></p>
