
<h2><a href="/words/<%= @word.id %>/edit"><%= @word.name %></a></h2>
<h6>(click to edit word)</h6>

<h3>Possible meanings:</h3>

<% if @word.definitions.any? %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.meaning %></a></li>
      <% end %>
    </ul>
    <a href="/words/<%= @word.id %>/new">Add another meaning?</a>
  <% else %>
    <h4>Nobody knows... <a href="/words/<%= @word.id %>/new">unless you do?</a></h4>
  <% end %>

<h4></h4>

<p><a href="/words">Back to Word List</a></p>